/* Remove Browser Style - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 28px;
  line-height: 1.45em;
  width: 640px;
  margin: 0 auto;
  padding: 0 2em; }

/* Posts: h2 and paragraphs */
p {
  margin: 1.2em 0; }
  p strong {
    text-transform: uppercase; }

/* lead paragraph */
h2 + p + p {
  font-size: 120%; }

h2, h3, h4, h5, h6 {
  font-size: 200%;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.1em;
  margin-top: 1.5em;
  text-transform: uppercase; }

/* Title */
h1 {
  font-family: Gill Sans;
  font-size: 250%;
  letter-spacing: -0.1em;
  text-align: center;
  margin: 0 0 -0.05em 0; }

/* Title */
/* Navigation */
ul {
  list-style: none;
  text-align: center; }

/*Image*/
img {
  max-width: 640px;
  width: 100%; }

/* FILE */
h1 + p {
  font-family: avenir, helvetica;
  font-weight: bold;
  color: #BADA55;
  background-color: black;
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 100%; }

/*In this issue...*/
h1 + p + p {
  font-family: gill sans; }

/* Date */
