doctype 5
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		title Antigua
		link(rel="stylesheet", href="antigua.css")
	body
		include antiguablog.md
		span#bottom