doctype 5
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=704")
		title Antigua
		link(rel="stylesheet", href="antigua.css")
	body
		span#top
		include antiguablog.md
		section#address
			:markdown
				## About the Coffee Shop ##

				We sit at 3400 N Figuroa St. in Cypress Park, open 7-5(M-F) and 7-3(S-S).

				![](antigua@2X.jpg)

				[Go Back](#top)