@import "_reset.scss";
		
$sepia: rgb(222, 120, 45);
@mixin georgia{
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
body{
	@include georgia;
	font-size:28px;
	line-height:1.45em;
	
	width: 640px;
	margin:0 auto;
	padding:0 32px 10em 32px;
	
}
a, a:visited{
	font-weight:bold;
	color:$sepia;
	text-decoration:none;
}
a:hover{
	color:#bada55;
}
/* small type */
code {
	@include georgia;
	font-style:italic;
	font-size:0.7em;		
	margin:0.3em 0 1.4em 0;
	text-align:left;
	text-transform:none;
	color:rgb(150,150,150);
}
pre {
	border-left:16px solid $sepia;
	padding-left:30px;
	line-height:.9em;
	margin:1.8em 0;
	code{
	font-style:normal;
	color:black;
}
}

/* Title */
h1{
	@include georgia;
	font-family:Baskerville;
	font-weight:bold;
	font-size:250%;
	text-align:center;
	margin:0 0 0.09em 0;
	a, a:visited{
		color:black;
	}
}

/* Sepia Bar Items */
ul{
	font-family: gill sans;
	font-weight:bold;
	font-size:50%;
	color:white;
	background-color: $sepia;
	width:100%;
	max-width:100%;
	list-style:none;
	text-align:center;
	li{
		text-transform: uppercase;
		display:inline;
		margin:0 0.3em;
		a, a:visited{
			color:white;
		}
		a:hover{
			color:#bada55;
		}
	}
}
#page{
	color:#bada55;
}

/* intro text 2 paragraphs max */
h2 + p, h2+p+p, h2+p+p+p, h1+ul+p+p,h1+ul+p+p+p{
		font-size:80%;
		line-height:1.5em;
		text-align:center;
}



/* lead paragraph */
h3 + *, h3 + pre + p, h3 + p + blockquote{
	font-size:1.6em;
	line-height:1.1em;
}

/* Artcles: h2 and paragraphs */

h2,h3,h4,h5,h6{
	font-size:200%;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	letter-spacing:-0.1em;
	line-height:0.8em;
	margin-top:1em;
	margin-bottom:0.8em;
	text-transform: uppercase;
}
h2{
	text-align:center;
	background-color:$sepia;
	color:white;
	padding:5px 0;
	a,a:visited {
		color:white;
	}
}
h2:before{
	content:"✰ ";
}
h2:after{
	content:" ✰";
}

h3,h4,h5,h6{
	margin-top:.9em;
}

p, figure{
	margin:0 0 1.2em 0;
	strong{
		text-transform: uppercase;
	}
	em{
		font-style:italic;
	}
}




/*blockquote*/
blockquote{
	margin-left:0.4em;
	padding-left: 0.5em;
	border-left:8px solid $sepia;
	p{
		font-size:1em;
	}
}






/*Image*/
img{
	max-width:640px;
	width:100%;
	border-bottom: 0.5em solid $sepia;
}




/*In this issue...*/
h1 + p + p{
	font-family:gill sans;
}

/* Date */
