/* Remove Browser Style - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
/* Added Figure Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, figure, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 28px;
  line-height: 1.45em;
  width: 640px;
  margin: 0 auto;
  padding: 0 32px 10em 32px; }

a, a:visited {
  font-weight: bold;
  color: #de782d;
  text-decoration: none; }

a:hover {
  color: #bada55; }

/* small type */
code {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-style: italic;
  font-size: 0.7em;
  margin: 0.3em 0 1.4em 0;
  text-align: left;
  text-transform: none;
  color: #969696; }

pre {
  border-left: 16px solid #de782d;
  padding-left: 30px;
  line-height: .9em;
  margin: 1.8em 0; }
  pre code {
    font-style: normal;
    color: black; }

/* Title */
h1 {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-family: Baskerville;
  font-weight: bold;
  font-size: 250%;
  text-align: center;
  margin: 0 0 0.09em 0; }
  h1 a, h1 a:visited {
    color: black; }

/* Sepia Bar Items */
ul {
  font-family: gill sans;
  font-weight: 900;
  font-size: 0.5em;
  color: white;
  background-color: #de782d;
  width: 100%;
  max-width: 100%;
  list-style: none;
  text-align: center; }
  ul li {
    text-transform: uppercase;
    display: inline;
    margin: 0 0.3em; }
    ul li a, ul li a:visited {
      color: white; }
    ul li a:hover {
      color: #bada55; }

#page {
  color: #bada55; }

/* intro text 2 paragraphs max */
h2 + p, h2 + p + p, h2 + p + p + p, h1 + ul + p + p, h1 + ul + p + p + p {
  font-size: 80%;
  line-height: 1.5em;
  text-align: center; }

/* lead paragraph */
h3 + *, h3 + pre + p, h3 + p + blockquote {
  font-size: 1.6em;
  line-height: 1.1em; }

/* Artcles: h2 and paragraphs */
.content{
font-size:100%;
}
h2, h3, h4, h5, h6 {
  font-size: 200%;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -0.07em;
  line-height: 0.8em;
  margin-top: 1em;
  margin-bottom: 0.8em;
  text-transform: uppercase; }

h2 {
  text-align: center;
  background-color: #de782d;
  color: white;
  padding: 5px 0; }
  h2 a, h2 a:visited {
    color: white; }

h3, h4, h5, h6 {
  margin-top: .9em; }

p, figure {
  margin: 0 0 1.2em 0; }
  p strong, figure strong {
    text-transform: uppercase; }
  p em, figure em {
    font-style: italic; }

/*blockquote*/
blockquote {
  margin-left: 0.4em;
  padding-left: 0.5em;
  border-left: 8px solid #de782d; }
  blockquote p {
    font-size: 1em; }

/*Image*/
img {
  max-width: 640px;
  width: 100%;
  border-bottom: 0.5em solid #de782d; }

/*In this issue...*/
h1 + p + p {
  font-family: gill sans; }

/* Date */
