---
title: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=704">
    <title>Antigua</title>
    <link rel="stylesheet" href="antigua.css">
    <script type="text/javascript" src="//use.typekit.net/awx5gcc.js"></script>
    <script type="text/javascript">
      try{Typekit.load();}catch(e){}	
      
    </script>
    </head>
    <body><p><code>Antigua Coffee House Presents,</code></p>

<h1><a href="http://pspegg.co/antigua/index.html">Quetzaltenango</a></h1>

<ul>
<li>hey guys</li>
</ul>

<p><code>The little Cypress blog</code></p>

<section id="content">
{{content}}
</section>


    <section id="address"><h2>The Coffee Shop</h2>

<p>We sit at 3400 N Figuroa St. in Cypress Park, open 7-5(M-F) and 7-3(S-S).</p>

<p><img alt="" src="antigua@2X.jpg"/></p>

<p><a href="#top">Go Back</a></p>
    </section>
  
  </body>
  </html>