---

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640">
    <title>Antigua</title> 
    
    <link rel="stylesheet" href="./gh-pages.css">
  </head>
  
    <body>
      <div class="wrapper">
        <div class="masthead">
          <p>Antigua Coffee House Presents,</p>

          <h1><a href="/">Quetzaltenango</a></h1>
          
          <div class="nav">
            {% for p in site.pages %}
            <a 
                {% if p.title == page.title %} 
                id="active-page" 
                {% endif %}
                href="{{ p.url }}">{{ p.title }}</a>
            {% endfor %}
          </div>

          <p>The little Cypress blog</p>
        </div>


        {{content}}
    </div>
  </body>
  
  </html>